<div class="mainchat">
  <div class="mainchat__roomblock">
    <div class="mainchat__roomblock__room-name">
      <h2>hogefuga</h2>
    </div>
    <div class="mainchat__roomblock__room-exit">
      <a href="">チャットを終了する</a>
    </div>
  </div>

  <div class="mainchat__chat-content-block">
    <div class="mainchat__chat-content-block__header">
      <div class="mainchat__chat-content-block__user-name">
        <span>Tom</span>
      </div>
      <div class="mainchat__chat-content-block__time">
        <span>2020/5/10 11:59:11</span>
      </div>
    </div>
    <div class="mainchat__chat-content-block__message">
      <p>おはよう</p>
    </div>

    <div class="mainchat__chat-content-block__header">
      <div class="mainchat__chat-content-block__user-name">
        <span>Tom</span>
      </div>
      <div class="mainchat__chat-content-block__time">
        <span>2020/5/10 11:59:16</span>
      </div>
    </div>
    <div class="mainchat__chat-content-block__message">
      <p>こんばんは</p>
    </div>
  </div>

  <div class="mainchat__formblock">
    <form>
      <div class="mainchat__formblock__input-wrapper">
        <input type="text" placeholder="type a message" class="mainchat__formblock__input-text">
        <label class="mainchat__formblock__attachment-btn">
          <span class="mainchat__formblock__attachment-btn__text">画像</span>
          <input type="file" class="mainchat__formblock__attachment-btn__input-file">
        </label>
      </div>
      <input type="submit" value="送信" class="mainchat__formblock__input-submit">
    </form>
  </div>

</div>