<div class="sidebar">
  <div class="sidebar__userblock">
    <div class="sidebar__userblock__inner__user-name">
    </div>
    <button class="sidebar__userblock__inner__create-room">
    </button>
  </div>

  <div class="sidebar__rooms-index">
  </div>
</div>
