<div class="sidebar">
  <div class="sidebar__userblock">
    <div class="sidebar__userblock__user-name">
      <p>Tom</p>
    </div>
    <button class="sidebar__userblock__create-room">
      <a href="">チャットを作成する</a>
    </button>
  </div>

  <div class="sidebar__rooms-index">
    <section>
      <p>techroom1</p>
    </section>
    <section>
      <p>techroom2</p>
    </section>
  </div>
</div>
